<header>
    <nav class="navbar">
        <label for="iconMenu">
            <fa-icon [icon]="faBars"></fa-icon>
        </label>
        <input type="checkbox" name="iconMenu" [(ngModel)]="isOpenNav" id="iconMenu">
        <div class="logo"><img src="../assets/logo.png" routerLink="/" alt=""></div>
        <ul class="menu menu-responsive" (click)="closeNav()">
            <label for="iconMenu" class="faClose">
                <fa-icon [icon]="faClose"></fa-icon>
            </label>
            <li><a routerLink="">Trang Chủ</a></li>
            <li><a routerLink="about-me">Giới Thiệu</a></li>
            <li class="product"><a routerLink="products">Sản Phẩm
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                    <fa-icon [icon]="faChevronUp"></fa-icon>
                </a>
                <ul class="product-list">
                    <li><a routerLink="products">Rau Củ</a></li>
                    <li><a routerLink="products">Hải Sản</a></li>
                    <li><a routerLink="products">Hoa Quả</a></li>
                    <li><a routerLink="products">Thưc phẩm tươi sống</a></li>
                </ul>
            </li>
            <li><a routerLink="new-blog">Tin tức</a></li>
            <li><a routerLink="contact-me">Liên Hệ</a></li>
        </ul>
        <div class="admin">
            <div class="search">
                <fa-icon [icon]="faSearch"></fa-icon>
                <div class="search-detail">
                    <form class="search-detail-from">
                        <input type="text" name="search" id="search">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </form>
                </div>
            </div>
            <div class="user">
                <fa-icon [icon]="faUserPlus"></fa-icon>
                <div class="user-detail">
                    <a routerLink="/admin/login"><button>Login</button></a>
                    <a routerLink="/admin/register"><button>Register</button></a>
                </div>
            </div>
            <div class="cart">
                <fa-icon [icon]="faBasketShopping"></fa-icon>
                <div class="cart-detail-count">0</div>
                <div class="cart-detail">
                    <p>Không có sản phẩm nào trong giỏ hàng.</p>
                </div>
            </div>
        </div>
    </nav>
</header>