.to-top {
    bottom: 0.43rem;
    cursor: pointer;
    margin: 0 8px 12px 0;
    position: fixed;
    right: 1rem;
    border-radius: 50%;
    width: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    opacity: 0;
}

.show-scrollTop {
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
}