<app-breadcrumb [title]="title"></app-breadcrumb>
<div class="about-me">
    <h2>{{title}}</h2>
    <span>Gia Hân Farm là một công ty chuyên trồng, thu mua và cung cấp nông sản sạch cho thị trường Bình Dương và các
        tỉnh lân cận. Công ty được thành lập từ năm 2019 với mục tiêu mang đến cho người tiêu dùng những sản phẩm rau
        xanh tươi ngon, an toàn và bổ dưỡng. Gia Hân Farm sử dụng công nghệ thủy canh hiện đại để tạo ra những loại rau
        có chất lượng cao, không sử dụng hóa chất bảo quản hay thuốc trừ sâu. Gia Hân Farm cũng kết hợp với các nông dân
        địa phương để hỗ trợ họ trong việc phát triển nông nghiệp bền vững và tăng thu nhập. Gia Hân Farm mong muốn trở
        thành nhà cung cấp rau sạch lớn nhất tại Bình Dương và góp phần nâng cao sức khỏe của cộng đồng.</span>
</div>