<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="row" style="align-items: center;">
                <div class="col-md-3 col-lg-3">
                    <strong>Product and Service category</strong>
                </div>
            </div>
            <label class="d-block">&nbsp;</label>
            <div class="form-row">
                <div class="col-3">
                  <input type="text" name="search" 
                    class="form-control" placeholder="Search...">
                </div>
                <label class="d-none d-lg-block">&nbsp;</label>
                <button type="button" class="btn btn-success mr-2" ><i
                    class="fa fa-search mr-1"></i> Search
                </button>
                <button type="button" class="btn btn-secondary" ><i
                    class="fa fa-close mr-1"></i> Clear
                </button>
                <div class="col text-right">
                  <button type="button" class="btn btn-sm btn-primary" ><i
                      class="fa fa-plus"></i> Add New</button>
                </div>
              </div>
        </div>
        <div class="card-body">
            <div class="col-12" style="margin-bottom: 15px; padding: 0;">
                <button type="button" class="btn btn-sm btn-success mr-2"  tooltip="Xuất file Excel Aspose">
                  <i class="fa fa-file-excel-o"></i> ExcelAspose
                </button>
                <button type="button" class="btn btn-sm btn-warning mr-2"  tooltip="Xuất file PDF Aspose" style="color: white;">
                  <i class="fa fa-file-pdf-o"></i> PdfAspose
                </button>
                <button type="button" class="btn btn-sm btn-success mr-2"  tooltip="Thêm dữ liệu từ file Excel">
                  <i class="fa fa-file-excel-o"></i> Import
                </button>
                <button type="button" class="btn btn-sm btn-primary mr-2" printSectionId="dataTable" tooltip="In dữ liệu"
                  ngxPrint printTitle="Product Category" styleSheetFile="../../../../assets/scss/_table.scss" >
                  <i class="fa fa-print"></i> Print
                </button>
                <button type="button" class="btn btn-sm btn-danger float-right"  tooltip="Xóa nhiều danh mục sản phẩm">
                  <i class="fa fa-trash fa-lg"></i> Delete All
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>ProductCate ID</th>
                        <th>ProductCate Name</th>
                        <th>Position</th>
                        <th>Update By</th>
                        <th>Update Time</th>
                        <th>Status</th>
                        <th colspan="2">Action</th>
                        <th>
                          <div class="pretty p-icon p-round p-jelly">
                            <input class="custom-control-input" type="checkbox" value="" id="cateID" checked>
                            <div class="state p-danger" id="custom">
                              <i class="icon fa fa-check"></i>
                              <label class="custom-control-label" for="checkAll"></label>
                            </div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of productAndServiceCate; let i = index">
                        <td>{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
                        <td>{{item.product_Service_Cate_ID}}</td>
                        <td>{{item.product_Service_Cate_Name}}</td>
                        <td>{{item.position}}</td>
                        <td>{{item.update_By}}</td>
                        <td>{{item.update_Time | date: 'dd/MM/yyyy'}}</td>
                        <td>
                          <div class="pretty p-icon p-round p-pulse">
                            <input type="checkbox" class="custom-control-input" id="cateID"
                             checked="true">
                            <div class="state p-success">
                              <i class="icon fa fa-check"></i>
                              <label></label>
                            </div>
                          </div>
                        </td>
                        <td class="w-1rem">
                          <button type="button" class="btn btn-sm btn-primary"
                               tooltip="Chỉnh sửa danh mục sản phẩm">
                              <i class="fa fa-edit fa-lg"></i>
                            </button>
                        </td>
                        <td class="w-1rem">
                          <button type="button" class="btn btn-sm btn-danger"  tooltip="Xóa danh mục sản phẩm">
                            <i class="fa fa-trash fa-lg"></i>
                          </button>
                        </td>
                        <td>
                          <div class="pretty p-icon p-round p-jelly">
                            <input type="checkbox" class="custom-control-input" >
                            <div class="state p-warning">
                              <i class="icon fa fa-check"></i>
                              <label class="custom-control-label" ></label>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr *ngIf="productAndServiceCate.length ===0">
                        <td colspan="100%" class="table-warning text-center font-weight-bold"> NO DATA! </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#7cc242" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>