.slider {
    img {
        width: 100%;
    }

    width: 100%;
    margin-bottom: -5px;
}

// banner
.banner-gird {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
}


.banner-item:nth-child(1) {
    background-image: url('../../../../assets/img/col_1.png');
    background-color: #ff505091;
}

.banner-item:nth-child(2) {
    background-image: url('../../../../assets/img/col_2.png');
    background-color: #99ff99a7;
}

.banner-item:nth-child(3) {
    background-image: url('../../../../assets/img/col_3.png');
    background-color: #6cb75ba7;
}

.banner-item:nth-child(4) {
    background-image: url('../../../../assets/img/col_4.png');
    background-color: #ffa25091;
}

.banner-item {
    background-size: 60%;
    background-position-x: right;
    background-repeat: no-repeat;
    padding: 2rem;
    color: white;
    position: relative;

    a {
        font-weight: 600;
        font-stretch: expanded;
        text-decoration: none;
        font-size: 30px;
        color: white;
    }

    p {
        padding: 1rem 0;
        line-height: 25px;
    }

    button>a {
        font-stretch: expanded;
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

}


.banner-item:hover::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: -1;

}

//responsive banner
@media (max-width: 1200px) {
    .banner-gird {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    .banner-item {
        background-size: 50%;
    }
}

@media (max-width: 600px) {
    .banner-gird {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .banner-item {
        background-size: 40%;
        padding: 4rem 2rem;
    }
}