<div class="slider">
    <img src="../../../assets/img-index/slider1.png" alt="">
</div>
<!-- banner -->
<div class="banner-gird">
    <div class="banner-item">
        <a href="">Rau quả tươi</a>
        <p>Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và đảm bảo chất lượng
            ngon
            nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
        <button><a href="">Xem Ngay</a></button>
    </div>
    <div class="banner-item">
        <a href="">Rau quả tươi</a>
        <p>Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và đảm bảo chất lượng
            ngon
            nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
        <button><a href="">Xem Ngay</a></button>
    </div>
    <div class="banner-item">
        <a href="">Rau quả tươi</a>
        <p>Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và đảm bảo chất lượng
            ngon
            nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
        <button><a href="">Xem Ngay</a></button>
    </div>
    <div class="banner-item">
        <a href="">Rau quả tươi</a>
        <p>Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và đảm bảo chất lượng
            ngon
            nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
        <button><a href="">Xem Ngay</a></button>
    </div>
</div>