<app-breadcrumb [title]="title" [subTitle]="subTitle"></app-breadcrumb>
<div class="detail">
    <div class="detail-left">
        <img src="../../../../assets/img-index/new1.png" alt="">
    </div>
    <div class="detail-right">
        <h2>Quả óc chó</h2>
        <p>Thương hiệu: <span>Đang cập nhật</span> | Tình trạng: <span>Còn hàng</span></p>
        <div class="detail-right-price">
            <span>30.000</span>
            <span>45.000</span>
        </div>
        <p class="detail-right-description">
            Nguồn gốc: Việt Nam

            Khối lượng: 1kg/ hộp

            Súp lơ có chứa các thành phần như: Protein 3,5%; gluxit 4,9%; và nhiều khoáng chất, vitamin như: can-xi (26
            mg%); phốtpho (51 mg%)
        </p>
        <div class="detail-right-add">
            <div class="detail-right-price-number"> Số lượng:
                <fa-icon [icon]="faSubtract"></fa-icon>
                <span>1</span>
                <fa-icon [icon]="faPlus"></fa-icon>
            </div>
            <button>Thêm vào giỏ hàng</button>
            <p>Gọi đặt mua: <a href="tel:9074761679">0974761679</a> để nhanh chóng đặt hàng</p>
        </div>
    </div>
</div>
<div class="img-banner">
    <img src="../../../../assets/ghf.jpg" alt="">
</div>

<div class="description">
    <input type="radio" name="tabbordion-radio" id="tab-0-input" checked />
    <label for="tab-0-input">
        Mô tả sản phẩm
    </label>
    <section>
        <p>Lorem ipsum dolor sit amet. Aut officia porro qui labore sint 33 eveniet deserunt et consequatur galisum id
            odit quia aut fugit enim. Sed nesciunt amet ex nemo tempore non tenetur dicta vel repellat dignissimos. Aut
            veritatis debitis et doloremque quos et molestias repudiandae eos harum beatae quo nisi autem non incidunt
            praesentium. </p>
        <p>Est dolorem quia et quidem autem id quas voluptatem sed dolor minima ut quis quia quo quos officiis. Est
            excepturi maxime ad labore tenetur ea temporibus dignissimos. Rem tempora modi cum magni amet At possimus
            quam. Eum optio galisum aut quia magni qui voluptas illo in pariatur beatae aut aspernatur eaque aut
            suscipit quos! </p>
        <p>Qui explicabo debitis ut optio quod qui dicta deleniti quo omnis magni aut doloribus assumenda. Ut harum
            repudiandae est tempora nostrum ut veniam ratione. </p>
    </section>

    <input type="radio" name="tabbordion-radio" id="tab-1-input" checked />
    <label for="tab-1-input">
        Hỏi đáp sản phẩm
    </label>
    <section>
        <p>Lorem ipsum dolor sit amet. Non quibusdam aliquam et vero dolor aut iusto consectetur ut nobis odit. Eos
            totam quos in suscipit nihil eum corporis itaque ad omnis modi ut galisum ducimus aut veniam provident! Sed
            dolor quia et harum fuga et dignissimos magnam et animi ullam et consequatur provident et quos deleniti in
            saepe quidem. Et voluptas necessitatibus ut galisum dolores sed sapiente itaque qui magnam commodi. </p>
        <p>Id nulla officiis 33 galisum quia est aperiam minima vel quibusdam molestiae qui ipsa enim et quibusdam
            laborum. Ea quasi laboriosam in vitae commodi qui mollitia rerum! Et recusandae excepturi At commodi dolorem
            et voluptatem beatae sit velit laudantium est asperiores quasi aut nemo galisum. Est voluptatem quasi hic
            galisum cupiditate 33 ducimus quia. </p>
        <p>Id itaque repudiandae vel velit amet qui iste natus aut consequatur sint est inventore quia id rerum quod est
            pariatur similique. Eum alias corporis qui autem dolorem et adipisci illo ut fuga quia qui voluptas dolorem.
            Vel amet magni et debitis enim ut maiores labore et dolorum provident et quidem officia. Aut aspernatur quas
            ad voluptatum quibusdam est rerum tempora aut recusandae natus? </p>
    </section>
</div>


<app-products-tab [isIndex]="false" [isRelated]="true"></app-products-tab>