<div class="background-white tab">
    <div class="grid wide">
        <div class="row">
            <div class="l-8 m-8 c-10 l-o-2 m-o-2 c-o-1 h2-title">
                <h2>Tin tức mới nhất</h2>
            </div>
        </div>
        <div class="row new-detail">
            <div class="col l-3 m-8 c-10">
                <a href="" class="new-description">
                    <div class="new-description-body">
                        <img src="../../../assets/img-index/new1.png" alt="">
                    </div>
                    <div class="new-description-body-time">
                        <p><fa-icon [icon]="faCalendar"></fa-icon> 05/03/2023</p>
                        <p>Create by <span>Ha Phan</span></p>
                    </div>
                    <div class="new-description-footer">
                        <h3>Nhập khẩu rau quả vượt mốc 1 tỷ USD, Thái Lan chiếm 60% thị phần</h3>
                        <p>Khoảng gần một tuần nay, do ảnh hưởng của những cơn mưa lớn kéo dài liên tiếp nên nguồn
                            cung rau xanh cho các chợ bắt đầu khan hiếm, giá tăng mạnh, thậm chí nhiều loại giá tăng gần
                            gấp đôi.</p>
                    </div>
                </a>
            </div>
            <div class="col l-3 m-8 c-10">
                <a href="" class="new-description">
                    <div class="new-description-body">
                        <img src="../../../assets/img-index/new2.png" alt="">
                    </div>
                    <div class="new-description-body-time">
                        <p><fa-icon [icon]="faCalendar"></fa-icon> 05/03/2023</p>
                        <p>Create by <span>Ha Phan</span></p>
                    </div>
                    <div class="new-description-footer">
                        <h3>Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao</h3>
                        <p>Khoảng gần một tuần nay, do ảnh hưởng của những cơn mưa lớn kéo dài liên tiếp nên nguồn
                            cung rau xanh cho các chợ bắt đầu khan hiếm, giá tăng mạnh, thậm chí nhiều loại giá tăng gần
                            gấp đôi.</p>
                    </div>
                </a>
            </div>
            <div class="col l-3 m-8 c-10">
                <a href="" class="new-description">
                    <div class="new-description-body">
                        <img src="../../../assets/img-index/t.png" alt="">
                    </div>
                    <div class="new-description-body-time">
                        <p><fa-icon [icon]="faCalendar"></fa-icon> 05/03/2023</p>
                        <p>Create by <span>Ha Phan</span></p>
                    </div>
                    <div class="new-description-footer">
                        <h3>Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơnBí quyết bảo quản nho đen trong tủ lạnh
                            tươi lâu hơnBí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn</h3>
                        <p>Bí quyết lựa chọn và bảo quản nho tươi - Nho rất ngon và tốt cho sức khỏe, tuy nhiên nếu
                            không biết cách bảo quản nho sẽ không để được lâu hoặc bị hỏng, không tốt cho sức khỏe. Hôm
                            nay hãy tìm hiểu mẹo vặt lựa chọn và bảo quản nho tươi thật lâu mà vẫn giữ được độ tươi ngon
                            nhé bạn.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>