<div class="background-white tab">
    <div class="grid wide">
        <div class="row">
            <div class="l-8 m-8 c-10 l-o-2 m-o-2 c-o-1 h2-title">
                <h2>Danh Mục sản phẩm</h2>
                <div class="tab-button" *ngIf="isTabProduct">
                    <button type="button" class="tab-button-active">Rau củ</button>
                    <button type="button">Hoa quả</button>
                    <button type="button">Hải sản</button>
                    <button type="button">Các loại hạt</button>
                    <button type="button">Thưc phẩm tươi sống</button>
                </div>
            </div>
        </div>
        <div class="row tab-detail">
            <div class="col l-2 m-4 c-5">
                <a href="" class="tab-description">
                    <div class="tab-description-body">
                        <img src="../../../assets/img-index/tab1.png" alt="">
                    </div>
                    <div class="tab-description-footer">
                        <p>Chanh tươi</p>
                        <span>30.000</span>
                        <span>45.000</span>
                    </div>
                    <div class="tab-description-cart">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faBasketShopping"></fa-icon>
                    </div>
                </a>
            </div>
            <div class="col l-2 m-4 c-5">
                <a href="" class="tab-description">
                    <div class="tab-description-body">
                        <img src="../../../assets/img-index/tab2.png" alt="">
                    </div>
                    <div class="tab-description-footer">
                        <p>Quả óc chó</p>
                        <span>430.000</span>
                        <span>645.000</span>
                    </div>
                    <div class="tab-description-cart">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faBasketShopping"></fa-icon>
                    </div>
                </a>
            </div>
            <div class="col l-2 m-4 c-5">
                <a href="" class="tab-description">
                    <div class="tab-description-body">
                        <img src="../../../assets/img-index/tab2.png" alt="">
                    </div>
                    <div class="tab-description-footer">
                        <p>Hạt điều khô</p>
                        <span>230.000</span>
                    </div>
                    <div class="tab-description-cart">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faBasketShopping"></fa-icon>
                    </div>
                </a>
            </div>
            <div class="col l-2 m-4 c-5">
                <a href="" class="tab-description">
                    <div class="tab-description-body">
                        <img src="../../../assets/img-index/t.png" alt="">
                    </div>
                    <div class="tab-description-footer">
                        <p>Hành tây đăc biệt Hành tây đăc biệt</p>
                        <span>36.000</span>
                        <span>49.000</span>
                    </div>
                    <div class="tab-description-cart">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faBasketShopping"></fa-icon>
                    </div>
                </a>
            </div>
            <div class="col l-2 m-4 c-5">
                <a href="" class="tab-description">
                    <div class="tab-description-body">
                        <img src="../../../assets/img-index/tab4.png" alt="">
                    </div>
                    <div class="tab-description-footer">
                        <p>Hành tây đăc biệt</p>
                        <span>36.000</span>
                        <span>49.000</span>
                    </div>
                    <div class="tab-description-cart">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faBasketShopping"></fa-icon>
                    </div>
                </a>
            </div>
            <div class="col l-2 m-4 c-5">
                <a href="" class="tab-description">
                    <div class="tab-description-body">
                        <img src="../../../assets/img-index/tab4.png" alt="">
                    </div>
                    <div class="tab-description-footer">
                        <p>Hành tây đăc biệt</p>
                        <span>36.000</span>
                        <span>49.000</span>
                    </div>
                    <div class="tab-description-cart">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faBasketShopping"></fa-icon>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>