// Here you can add other styles
.menu-margin a{
    padding-left: 30px !important;
}

//header table
table.table thead {
    background-color: #20a8d8;
    color: #fff;
}

/*#Custom style tooltip*/
.tooltip-inner {
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
}
.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
  border-top-color: #009688;
}
.tooltip.bottom .tooltip-arrow:before,
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #009688;
}
.tooltip.left .tooltip-arrow:before,
.tooltip.left .tooltip-arrow {
  border-left-color: #009688;
}
.tooltip.right .tooltip-arrow:before,
.tooltip.right .tooltip-arrow {
  border-right-color: #009688;
}