.container {
    position: relative;

    .container2 {
        position: absolute;
        background-image: url('../assets/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        top: 110px;
        left: 0;
        right: 0;
        width: 100%;
    }
}