.app-body {
    background-image: url('/assets/img/brand/background.jpg');
    background-size: cover;
}
.bg-primary{
    background-color: rgb(124, 194, 66) !important;
    border: none;
}
.btn-primary{
    background-color: rgb(124, 194, 66) !important;
    border: none;
}