<div class="background-white about-me">
    <div class="grid wide">
        <div class="row">
            <div class="l-8 m-8 c-10 l-o-2 m-o-2 c-o-1 h2-title">
                <h2>Về chúng tôi</h2>
                <p>Hiện tại vùng nguyên liệu của chúng tôi có thể cung cấp các thực tập tươi sạch với số lượng lớn vì
                    đang
                    vào
                    vụ mùa thu hoạch nên chúng tôi có thể cung ứng cho tất cả các đối tác xuất khẩu nông sản trên cả
                    nước.
                </p>
            </div>
        </div>
        <div class="row about-me-detail">
            <div class="col l-2 m-4 c-11 about-me-description">
                <img src="../../../assets/img-index/icon_uti_1.png" alt="">
                <h3>Trang trại hữu cơ</h3>
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
            <div class="col l-2 m-4 c-11 about-me-description">
                <img src="../../../assets/img-index/icon_uti_2.png" alt="">
                <h3>Trang trại hữu cơ</h3>
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
            <div class="col l-2 m-4 c-11 about-me-description">
                <img src="../../../assets/img-index/icon_uti_3.png" alt="">
                <h3>Trang trại hữu cơ</h3>
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
            <div class="col l-2 m-4 c-11 about-me-description">
                <img src="../../../assets/img-index/icon_uti_4.png" alt="">
                <h3>Trang trại hữu cơ</h3>
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
        </div>
    </div>
</div>